<!-- ABOUT - How it's made -->

<section id="about" class="about">
  <div class="about__container container">
    <p class="about__label">Tradition and love</p>
    <h2 class="about__heading">How it's made?</h2>
    <div class="about-box">
      <picture class="about-box__image">
        <source
          srcset="/src/images/about516.png, /src/images/about516@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="/src/images/about340.png, /src/images/about340@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img
          alt="grafika przedstawia dzbanek mleka oraz głowe krowy w tle"
          src="/src/images/about280.png"
          srcset="/src/images/about280@2x.png 2x"
        />
      </picture>

      <!-- <div class="about-box__milk">
        <p class="about-box__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-box__description about-box__description--grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div class="about-box">
          <button type="button" class="button button--reversed button--mid" data-modal-open--about>
            Read more
            <svg width="6" height="10" class="button__chevron">
              <use href="images/icons.svg#icon-Vector-1"></use>
            </svg>
          </button>

          MODAL ABOUT -->

      <div class="about-box__wrapper">
        <div class="about-box__milk">
          <p class="about-box__description">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about-box__description about-box__description--grey">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about-box__description about-box__description--grey">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </div>
        <button
          type="button"
          class="about-box__button button button--reversed button--mid"
          data-modal-open--about
        >
          Read more
          <svg width="6" height="10" class="button__chevron">
            <use href="images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- MODAL ABOUT -->
<!-- <div class="backdrop-modal is-hidden" data-modal--about>
  <div class="modal modal--about">
    <button class="modal__button modal__button--about" data-modal-close--about>&times;</button>
    <span class="modal__title">How it's made</span>
    <p class="modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. At quidem aspernatur necessitatibus odio molestias corrupti provident ut eveniet
      architecto amet quaerat cupiditate assumenda, neque mollitia molestiae repellat quibusdam
      nihil eligendi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem culpa voluptas
      dicta eos? Quaerat repellendus iure cum, praesentium voluptatem molestiae nostrum, eligendi
      vel eos velit odit incidunt a, ut non.
    </p>
  </div>
</div> -->

<div class="backdrop-modal is-hidden" data-modal--about>
  <div class="modal modal--about">
    <button class="modal__button modal__button--products" data-modal-close--about>&times;</button>
    <span class="modal__title--about">How it's made</span>
    <p class="modal__description--about">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. At quidem aspernatur necessitatibus odio molestias corrupti provident ut eveniet
      architecto amet quaerat cupiditate assumenda, neque mollitia molestiae repellat quibusdam
      nihil eligendi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem culpa voluptas
      dicta eos? Quaerat repellendus iure cum, praesentium voluptatem molestiae nostrum, eligendi
      vel eos velit odit incidunt a, ut non.
    </p>
  </div>
</div>
