<section class="section-about">
  <label class="section-about__heading-label">Tradition and love</label>
  <h2 class="section-about__heading">How it's made?</h2>
  <div class="about">
    <img
      class="about__image"
      src="/src/images/about1.png"
      srcset="/src/images/about1.png 1x, /src/images/about1@2x.png 2x"
      alt="grafika przedstawia dzbanek mleka oraz głowe krowy w tle"
      sizes="280vw"
    />
    <p class="about__description">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
  </div>
  <div class="about">
    <p class="about__description">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>
    <img
      class="about__image-background"
      src="/src/images/aboutbg.png"
      srcset="/src/images/aboutbg.png 1x, /src/images/aboutbg@2x.png 2x"
      alt="grafika przedstawia porcje wylanego mleka"
      sizes="320vw"
    />
  </div>
  <div class="about">
    <button type="button">Read more</button>
  </div>
</section>
