<section id="about" class="about">
  <div class="container">
    <p class="about__label">Tradition and love</p>
    <h2 class="about__heading">How it's made?</h2>
    <div class="about-box">
      <img
        class="about-box__image"
        src="/src/images/about280.png"
        srcset="
          /src/images/about280.png     280w,
          /src/images/about280@2x.png  560w,
          /src/images/about340.png     340w,
          /src/images/about340@2x.png  680w,
          /src/images/about516.png     516w,
          /src/images/about516@2x.png 1032w"
        sizes="(min-width: 1200px) 516px, (min-width: 768px) 340px, 100vw "
        alt="grafika przedstawia dzbanek mleka oraz głowe krowy w tle"
      />

      <div class="about-box__milk">
        <p class="about-box__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-box__description about-box__description--grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />Aliquam erat volutpat. Aenean accumsan.
        </p>
        <div class="about-box">
          <button type="button" class="button button--reversed button--mid">
            Read more
            <svg width="6" height="10" class="button__chevron">
              <use href="images/icons.svg#icon-Vector-1"></use>
            </svg>
          </button>
        </div>
      </div>
      <!--<img
      class="about-box__bg"
      src="/src/images/aboutbg320.png"
      srcset="/src/images/aboutbg320.png 1x, /src/images/aboutbg320@2x.png 2x"
      alt="grafika przedstawia porcje wylanego mleka"
    />-->
    </div>
  </div>
</section>
