<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__heading">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <h2 class="advantages__second-heading advantages__second-heading--image-first">721</h2>
        <p class="advantages__paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa
        </p>
      </li>
      <li class="advantages__item">
        <h2 class="advantages__second-heading advantages__second-heading--image-second">16kg</h2>
        <p class="advantages__paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa
        </p>
      </li>
      <li class="advantages__item">
        <h2 class="advantages__second-heading advantages__second-heading--image-third">84</h2>
        <p class="advantages__paragraph">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa
        </p>
      </li>
    </ul>
  </div>
</section>
