<section class="advantages-section">
    <div class="advantages">
        <img src="/src/images/icon1.png" class="advantages__product-icon">
        <h2 class="advantages__second-heading">721</h2>
        <p class="advantages__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa</p>
    </div>
    <div class="advantages">
        <img src="/src/images/icon2.png" class="advantages__product-icon">
        <h2 class="advantages__second-heading">16KG</h2>
        <p class="advantages__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa</p>
    </div>
    <div class="advantages">
        <img src="/src/images/icon3.png" class="advantages__product-icon">
        <h2 class="advantages__second-heading">84</h2>
        <p class="advantages__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa</p>
    </div>
</section>