<section id="contact" class="contacts">
    <div class="container">
      <h2 class="contacts__heading">Contacts</h2>
      <ul class="contacts__list">
        <li class="contacts__item">
          <p class="contacts__label">Cafe</p>
          <h3 class="contacts__header">Chicago</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="contacts__line"></div>
          <div class="contacts__schedule">
            <h3 class="contacts__title">Monday - Friday</h3>
            <p class="contacts__time">06:00 Am - 10:00 pm</p>
            <h3 class="contacts__title">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 Am - 16:00 pm</p>
          </div>
          <div class="contacts__line"></div>
          <address class="contacts__address">
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </li>
        <li class="contacts__item">
          <p class="contacts__label contacts__label--secondary">Foodtruck</p>
          <h3 class="contacts__header">Los Angeles</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="contacts__line"></div>
          <div class="contacts__schedule">
            <h3 class="contacts__title">Monday - Friday</h3>
            <p class="contacts__time">06:00 Am 10:00 pm</p>
            <h3 class="contacts__title">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 Am - 16:00 pm</p>
          </div>
          <div class="contacts__line"></div>
          <address class="contacts__address">
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </li>
        <li class="contacts__item">
          <p class="contacts__label">Cafe</p>
          <h3 class="contacts__header">New York</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="contacts__line"></div>
          <div class="contacts__schedule">
            <h3 class="contacts__title">Monday - Friday</h3>
            <p class="contacts__time">06:00 Am 10:00 pm</p>
            <h3 class="contacts__title">Saturday - Sunday</h3>
            <p class="contacts__time">08:00 Am - 16:00 pm</p>
          </div>
          <div class="contacts__line"></div>
          <address class="contacts__address">
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284 </a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </li>
      </ul>
      <div class="contacts__button-group">
        <button data-open class="contacts__button" type="button">
          Our Locations<svg width="6" height="10" class="button__chevron">
            <use href="images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
        <button data-form-open class="contacts__button contacts__button--secondary" type="button">
          Franchise<svg width="6" height="10" class="button__chevron">
            <use href="images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </div>
</section>