<div id="easteregg" class="easteregg">
  <a href="javascript:void(0)" class="easteregg__closebtn" onclick="closeNav()">&#x2715;</a>
  <div class="easteregg__wrapper">
    <ul class="team">
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/DorotaDobija"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--top">Dorota<br />Dobija</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/jfrasinska"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--top">Joanna<br />Frasińska</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/kgryguc"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--top">Krzysztof<br />Gryguc</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/MaciekJozwicki"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--top">Maciej<br />Jóźwicki</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/KlaudiaKrekora"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--top">Klaudia<br />Krekora</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/cmdspeed"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--bottom">Kamil<br />Langer</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/mikasaurus"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--bottom">Dominika<br />Najda</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/JustDunia"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--bottom">Justyna<br />Sienkiewicz</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/KarolTrombala"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--bottom">Karol<br />Trombala</p>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__member">
          <img class="team__avatar" src="./images/jane-doe.jpg" alt="Dev 5" width="640" />
          <div class="team__overlay">
            <a
              class="team__icon"
              href="https://github.com/wojcikowska-k"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="40px" height="40px">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
            <p class="team__name team__name--bottom">Katarzyna<br />Wójcikowska</p>
          </div>
        </div>
      </li>
    </ul>
    <img
      class="easteregg__image"
      src="./images/team5_logo.png"
      alt="Dev 5"
      width="250"
      height="250"
    />
  </div>
</div>
