<footer class="footer" id="footer">
  <section class="footer__container container">
    <div class="footer__wrapper">
      <h2 class="footer__title">
        Homemade ice cream made
        <span class="footer__title footer__title--bold">with passion</span>
      </h2>
      <div class="footer__contact-box">
        <ul class="socials">
          <li class="socials__item">
            <a
              class="socials__icon"
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="18.82px" height="18.82px">
                <use href="images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__icon"
              href="https://telegram.org/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="19.2px" height="14.93px">
                <use href="images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__icon"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="8.8px" height="19.2px">
                <use href="images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contact">
          <p class="footer__contact-title">Feel free to contact</p>
          <a class="footer__contact-phone" href="tel:+610383766284"> +61(0) 383 766 284</a>
        </div>
      </div>
    </div>
    <hr id="footer-line" class="footer__line" />
    <div class="footer__copy-rights">
      <p>&#169; 2019 - IceCream. All Rights Reserved.</p>
      <p class="footer__madewith">
        Made with <span class="footer__madewith--heart" onclick="openNav()">&#10084;</span> by DevUp
        Team 5
      </p>
    </div>
  </section>
</footer>
