<!-- Footer -->
<footer>
  <section class="footer__container">
    <div class="footer__logo">
      <p>Homemade ice cream made</p>
      <p>with passion</p>
    </div>
    <div>
      <a href="#">
        <svg>
          <use href="*"></use>
        </svg>
      </a>
      <a href="#">
        <svg>
          <use href="*"></use>
        </svg>
      </a>
      <a href="#">
        <svg>
          <use href="*"></use>
        </svg>
      </a>
    </div>
    <div>
      <p>Feel free to contact</p>
      <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    </div>
  </section>
  <p>&#169; 2019 - IceCream.<br />All Rights Reserved.</p>
</footer>
