<section class="gallery">
  <div class="container">
    <img
      class="gallery__image"
      src="./images/gallery/gallery-m@1x.png"
      alt="Ice cream gallery"
      srcset="
        ./images/gallery/gallery-m@1x.png  320w,
        ./images/gallery/gallery-m@2x.png  640w,
        ./images/gallery/gallery-t@1x.png  768w,
        ./images/gallery/gallery-d@1x.png 1280w,
        ./images/gallery/gallery-t@2x.png 1536w,
        ./images/gallery/gallery-d@2x.png 2560w
      "
      sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, 320px"
    />
  </div>
</section>
