<header class="header" id="header">
  <div class="header__container container">
    <a href="./index.html"
      ><img
        class="header__logo"
        width="199"
        height="50"
        src="images/logohero.png"
        alt="company logo"
        srcset="images/logohero@2x.png 2x"
    /></a>

    <nav>
      <ul class="nav">
        <li><a class="nav__link" href="#header">Home</a></li>
        <li><a class="nav__link" href="#products">Our products</a></li>
        <li><a class="nav__link" href="#about">About us</a></li>
        <li><a class="nav__link" href="#advantages">How it's made?</a></li>
        <li><a class="nav__link" href="#contact">Contact</a></li>
      </ul>
    </nav>

    <div class="header-buttons">
      <button
        class="menu-toggle js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle__icon" width="20" height="20">
          <use href="images/icons.svg#icon-Burger"></use>
        </svg>
      </button>
      <button
        class="header-buttons__cta button button--big button--reversed"
        type="button"
        data-modal-open
      >
        Buy now
        <svg width="6" height="10" class="button__chevron">
          <use href="images/icons.svg#icon-Vector-1"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<section class="hero">
  <div class="hero__container container">
    <div class="hero__heading-box">
      <h1 class="hero__title">
        Ice cream<br />
        made with<br />
        <span class="hero__title hero__title--boldred">passion</span>
      </h1>
      <button class="button button--small" type="button">
        <a href="#products">Products</a>
      </button>
      <button class="button button--small button--reversed" type="button">
        <a href="#advantages">How it’s made?</a>
      </button>
    </div>

    <div class="hero-bg">
      <img
        class="hero-bg__image"
        width="171"
        height="410"
        src="images/icecreamhero.png"
        alt="colorful ice cream in a waffle"
        srcset="images/icecreamhero@2x.png 2x"
      />
    </div>

    <div class="hero-numbers">
      <div class="hero-number">
        <div class="hero-number__circle"></div>
        <p class="hero-number__number">16</p>
        <p class="hero-number__text">cafes</p>
      </div>
      <div class="hero-number">
        <div class="hero-number__circle"></div>
        <p class="hero-number__number">23</p>
        <p class="hero-number__text">food trucks</p>
      </div>
    </div>

    <div class="hero-milk">
      <img
        class="hero-milk__img"
        width="124"
        height="126"
        src="images/milkhero.png"
        alt="splashing milk in a jug"
        srcset="images/milkhero@2x.png 2x"
      />
      <div class="hero-milk__wrapper">
        <p class="hero-milk__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="hero-milk__btn circle-btn" type="button">
          <a href="#about" class="hero-milk__link">
            <svg width="5" height="18" class="hero-milk__btn-icon circle-btn__arrow">
              <use href="images/icons.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </button>
      </div>
    </div>

    <img
      class="hero-person"
      width="168"
      height="133"
      src="images/sotasty.png"
      alt="woman eating ice cream, thinking 'sooo tasty'"
      srcset="images/sotasty@2x.png 2x"
    />
  </div>
</section>
<div class="backdrop-modal is-hidden" data-modal>
  <div class="modal">
    <form class="modal-form">
      <h2 class="modal-form__header">Order your favorite product</h2>
      <label for="name" class="modal-form__label">Name</label>
      <div class="modal-form__box">
        <input class="modal-form__input" id="name" name="name" />
        <svg class="modal-form__svg" width="15" height="15">
          <use href="images/icons.svg#icon-person-black-18dp-1"></use>
        </svg>
      </div>
      <label for="phone" class="modal-form__label">Phone number</label>
      <div class="modal-form__box">
        <input class="modal-form__input" id="phone" type="tel" name="phone" />
        <svg class="modal-form__svg" width="15" height="15">
          <use href="images/icons.svg#icon-phone-black-18dp-1"></use>
        </svg>
      </div>
      <label for="email" class="modal-form__label">Email</label>
      <div class="modal-form__box">
        <input class="modal-form__input" id="email" type="email" name="email" />
        <svg class="modal-form__svg" width="15" height="15">
          <use href="images/icons.svg#icon-email-black-18dp-1"></use>
        </svg>
      </div>
      <div class="modal-form__products">
        <label for="icecream" class="modal-form__label"
          >Ice cream:
          <select class="modal-form__select" id="icecream" name="product">
            <option value="strawberry">Strawberry</option>
            <option value="lemon">Lemon</option>
            <option value="chocolate">Chocolate</option>
          </select></label
        >
        <label for="icecoffe" class="modal-form__label"
          >Ice coffe:
          <select class="modal-form__select" id="icecoffe" name="product">
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
          </select></label
        >
        <label for="milkshakes" class="modal-form__label"
          >Milkshakes:
          <select class="modal-form__select" id="milkshakes" name="product">
            <option value="raspberry">Raspberry</option>
            <option value="nut">Nut</option>
            <option value="carmel">Carmel</option>
          </select></label
        >
      </div>
      <button class="modal-form__button" type="submit">Order</button>
    </form>
    <button class="modal__button" data-modal-close>&times;</button>
  </div>
</div>
