<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="icon" width="14" height="14">
      <use href="images/icons.svg#icon-close-btn"></use>
    </svg>
  </button>

  <nav class="nav">
    <ul>
      <li><a class="nav__link" href="#home">Home</a></li>
      <li><a class="nav__link" href="#about">About us</a></li>
      <li><a class="nav__link" href="#how it’s made?">How it’s made?</a></li>
      <li><a class="nav__link" href="#our products">Our products</a></li>
      <li><a class="nav__link" href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
