<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="icon" width="14" height="14">
      <use href="images/icons.svg#icon-close-btn"></use>
    </svg>
  </button>

  <button class="button button--reversed button--big button--menu" type="button" data-modal-open="">
    Buy now
    <svg width="6" height="10" class="button__chevron">
      <use href="images/icons.svg#icon-Vector-1"></use>
    </svg>
  </button>

  <nav class="mobile-nav">
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item"><a class="mobile-nav__link" href="#header">Home</a></li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#products">Our products</a>
      </li>
      <li class="mobile-nav__item"><a class="mobile-nav__link" href="#about">About us</a></li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="#advantages">How it's made?</a>
      </li>
      <li class="mobile-nav__item"><a class="mobile-nav__link" href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
