<!-- Map modal -->

<div class="hidden backdrop" data-modal-contact>
  <div class="modal-contact">
    <button data-close type="button" class="modal-contact__close">X</button>
    <h3 class="modal-contact__header">You can find us here!</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14968.81893179954!2d-87.63270476352827!3d41.88877014857146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2d1db4f6dd51%3A0x8e02fc4c6398f077!2sMUSEUM%20OF%20ICE%20CREAM!5e0!3m2!1spl!2spl!4v1675185617687!5m2!1spl!2spl"
      width="570"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<!-- Form modal -->

<div class="hidden backdrop" data-form-contact>
  <div class="modal-contact">
    <button data-form-close type="button" class="modal-contact__close">X</button>
    <h3 class="modal-contact__header">You can find us here!</h3>
  </div>
</div>
