<div class="hidden backdrop" data-modal-contact>
  <div class="modal-contact">
    <button data-close type="button" class="modal-contact__close">X</button>
    <h3 class="modal-contact__header">You can find us here!</h3>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe
          width="570"
          height="450"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=bean,%20chicago&t=&z=15&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe
        ><a href="https://123movies-to.org">123movies</a><br /><style>
          .mapouter {
            position: relative;
            text-align: right;
            height: 450px;
            width: 570px;
          }</style
        ><a href="https://www.embedgooglemap.net">google map in website</a
        ><style>
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 450px;
            width: 570px;
          }
        </style>
      </div>
    </div>
  </div>
</div>
