<!-- BUY NOW MODAL -->
<div class="backdrop-modal is-hidden" data-modal>
  <div class="modal">
    <form class="modal-form">
      <h2 class="modal-form__header">Order your favorite product</h2>
      <label for="name" class="modal-form__label">Name</label>
      <div class="modal-form__box">
        <input class="modal-form__input" id="name" name="name" />
        <svg class="modal-form__svg" width="15" height="15">
          <use href="images/icons.svg#icon-person-black-18dp-1"></use>
        </svg>
      </div>
      <label for="phone" class="modal-form__label">Phone number</label>
      <div class="modal-form__box">
        <input class="modal-form__input" id="phone" type="tel" name="phone" />
        <svg class="modal-form__svg" width="15" height="15">
          <use href="images/icons.svg#icon-phone-black-18dp-1"></use>
        </svg>
      </div>
      <label for="email" class="modal-form__label">Email</label>
      <div class="modal-form__box">
        <input class="modal-form__input" id="email" type="email" name="email" />
        <svg class="modal-form__svg" width="15" height="15">
          <use href="images/icons.svg#icon-email-black-18dp-1"></use>
        </svg>
      </div>
      <div class="modal-form__products">
        <label for="icecream" class="modal-form__label"
          >Ice cream:
          <select class="modal-form__select" id="icecream" name="product">
            <option value="strawberry">Strawberry</option>
            <option value="lemon">Lemon</option>
            <option value="chocolate">Chocolate</option>
          </select></label
        >
        <label for="icecoffe" class="modal-form__label"
          >Ice coffe:
          <select class="modal-form__select" id="icecoffe" name="product">
            <option value="s">Small</option>
            <option value="m">Medium</option>
            <option value="l">Large</option>
          </select></label
        >
        <label for="milkshakes" class="modal-form__label"
          >Milkshakes:
          <select class="modal-form__select" id="milkshakes" name="product">
            <option value="raspberry">Raspberry</option>
            <option value="nut">Nut</option>
            <option value="carmel">Carmel</option>
          </select></label
        >
      </div>
      <button class="modal-form__button" type="submit">Order</button>
    </form>
    <button class="modal__button" data-modal-close>&times;</button>
  </div>
</div>

<!-- MODAL ABOUT-->
<div class="backdrop-modal is-hidden" data-modal--about>
  <div class="modal modal--about">
    <button class="modal__button modal__button--products" data-modal-close--about>&times;</button>
    <span class="modal__title--about">How it's made</span>
    <p class="modal__description--about">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. At quidem aspernatur necessitatibus odio molestias corrupti provident ut eveniet
      architecto amet quaerat cupiditate assumenda, neque mollitia molestiae repellat quibusdam
      nihil eligendi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem culpa voluptas
      dicta eos? Quaerat repellendus iure cum, praesentium voluptatem molestiae nostrum, eligendi
      vel eos velit odit incidunt a, ut non.
    </p>
  </div>
</div>

<!-- FIRST PRODUCT MODAL -->
<div class="backdrop-modal is-hidden" data-modal--productsFirst>
  <div class="modal modal--products-first">
    <button class="modal__button modal__button--products" data-modal-close--productsFirst>
      &times;
    </button>
    <span class="modal__title">ice cream</span>
    <img src="images/dots.png" width="26" />
    <p class="modal__subtext">
      gluten free<br />
      lactose free<br />
      simply magic on your tongue
    </p>
    <p class="modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. At quidem aspernatur necessitatibus odio molestias corrupti provident ut eveniet
      architecto amet quaerat cupiditate assumenda, neque mollitia molestiae repellat quibusdam
      nihil eligendi!
    </p>
  </div>
</div>
<!-- SECOND PRODUCT MODAL -->
<div class="backdrop-modal is-hidden" data-modal--productsSecond>
  <div class="modal modal--products-second">
    <button class="modal__button modal__button--products" data-modal-close--productsSecond>
      &times;
    </button>
    <span class="modal__title">ice coffee</span>
    <img src="images/dots.png" width="26" />
    <p class="modal__subtext">
      gluten free<br />
      lactose free<br />
      simply magic on your tongue
    </p>
    <p class="modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Alias, nam. Aliquid eaque veritatis aperiam aut voluptatem eveniet consequuntur iure
      voluptatibus? Ea ad nesciunt tempora alias dolore debitis pariatur harum vitae.
    </p>
  </div>
</div>
<!-- THIRD PRODUCT MODAL -->
<div class="backdrop-modal is-hidden" data-modal--productsThird>
  <div class="modal modal--products-third">
    <button class="modal__button modal__button--products" data-modal-close--productsThird>
      &times;
    </button>
    <span class="modal__title">milkshakes</span>
    <img src="images/dots.png" width="26" />
    <p class="modal__subtext">
      gluten free<br />
      lactose free<br />
      simply magic on your tongue
    </p>
    <p class="modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Aspernatur, nobis quia! Eligendi voluptatibus dignissimos sequi! Dolorem, illo
      perspiciatis. Repellat in odio alias molestias commodi obcaecati quaerat adipisci aliquam
      impedit error?
    </p>
  </div>
</div>

<!-- Map modal -->

<div class="hidden backdrop" data-modal-contact>
  <div class="modal-contact">
    <button data-close type="button" class="modal-contact__close">X</button>
    <h3 class="modal-contact__header">You can find us here!</h3>
    <iframe
      class="modal-contact__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14968.81893179954!2d-87.63270476352827!3d41.88877014857146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2d1db4f6dd51%3A0x8e02fc4c6398f077!2sMUSEUM%20OF%20ICE%20CREAM!5e0!3m2!1spl!2spl!4v1675185617687!5m2!1spl!2spl"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<!-- Form modal -->

<div class="hidden backdrop" data-form-contact>
  <div class="modal-contact modal-contact--form">
    <button data-form-close type="button" class="modal-contact__close">X</button>
    <h4 class="modal-contact__header">We dont really exist but feel free to contact us</h4>
    <form name="contact-form">
      <label class="modal-contact__label">
        <svg class="modal-contact__icon" width="18" height="18">
          <use href="./images/icons.svg#icon-icecream"></use>
        </svg>
        Name:
        <input class="modal-contact__input" type="name" name="name" autocomplete="on" />
      </label>
      <label class="modal-contact__label">
        <svg class="modal-contact__icon" width="20" height="20">
          <use href="./images/icons.svg#icon-icecream2"></use>
        </svg>
        Email:
        <input class="modal-contact__input" type="email" name="email" autocomplete="on" />
      </label>
      <label class="modal-contact__label">
        Comment:
        <textarea
          class="modal-contact__comment-box"
          name="comment"
          placeholder="Share your thoughts!"
        ></textarea>
      </label>
      <div class="modal-contact__button-box">
        <button class="modal-contact__submit-button" type="submit">Cheers!</button>
      </div>
    </form>
  </div>
</div>
