<!-- PRODUCTS -->
<section class="products">
  <p class="products__title-label">100% natural</p>
  <h2 class="products__title">products</h2>
  <div class="products__list-container">
    <ul class="products__list">
      <li class="products__list-element">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__description-link" href="#">
          <img
            class="products__description-button"
            src="images/arrow-right.jpg"
            srcset="images/arrow-right@2x.jpg 2x"
            alt="right arrow"
            width="40"
            height="40"
        /></a>
      </li>
      <li class="products__list-element">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__description-link" href="#">
          <img
            class="products__description-button"
            src="images/arrow-right.jpg"
            srcset="images/arrow-right@2x.jpg 2x"
            alt="right arrow"
            width="40"
            height="40"
        /></a>
      </li>
      <li class="products__list-element">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__description-link" href="#">
          <img
            class="products__description-button"
            src="images/arrow-right.jpg"
            srcset="images/arrow-right@2x.jpg 2x"
            alt="right arrow"
            width="40"
            height="40"
        /></a>
      </li>
    </ul>
  </div>
</section>
