<!-- PRODUCTS -->
<section class="products">
  <a name="products" class="products__label">100% natural</a>
  <h2 class="products__title">products</h2>
  <ul class="products__list">
    <li class="products__item">
      <h3 class="products__name products__name--first">ice cream</h3>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="circle-btn circle-btn--products products__btn">
        <svg width="12" height="36" class="circle-btn__arrow circle-btn__arrow--products">
          <use href="images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
    <li class="products__item">
      <h3 class="products__name products__name--second">ice coffee</h3>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="circle-btn circle-btn--products products__btn">
        <svg width="12" height="36" class="circle-btn__arrow circle-btn__arrow--products">
          <use href="images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
    <li class="products__item">
      <h3 class="products__name products__name--third">milkshakes</h3>
      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="circle-btn circle-btn--products products__btn">
        <svg width="12" height="36" class="circle-btn__arrow circle-btn__arrow--products">
          <use href="images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
