<!-- PRODUCTS -->
<section class="products">
  <a name="products" class="products__label">100% natural</a>
  <h2 class="products__title">products</h2>
  <div class="products__list-container">
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" href="#">
          <svg class="products__icon" width="40" height="40">
            <use href="#"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" href="#">
          <svg class="products__icon" width="40" height="40">
            <use href="#"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button" href="#">
          <svg class="products__icon" width="40" height="40">
            <use href="#"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
