<!-- CUSTOMER REVIEWS -->
<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customer">
            <div class="customer__img">
              <img
                width="85"
                height="85"
                srcset="images/customer@1x.jpg 1x, images/customer@2x.jpg 2x"
                src="images/customer@1x.jpg"
                alt="customer photo"
              />
            </div>
            <div class="customer__opinion-box">
              <p class="customer__opinion-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="ellipsis ellipsis--reversed"></div>
            <p class="customer__name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer">
            <div class="customer__img">
              <img
                width="85"
                height="85"
                srcset="images/customer@1x.jpg 1x, images/customer@2x.jpg 2x"
                src="images/customer@1x.jpg"
                alt="customer photo"
              />
            </div>
            <div class="customer__opinion-box">
              <p class="customer__opinion-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="ellipsis ellipsis--reversed"></div>
            <p class="customer__name">Rose, New York</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customer">
            <div class="customer__img">
              <img
                width="85"
                height="85"
                srcset="images/customer@1x.jpg 1x, images/customer@2x.jpg 2x"
                src="images/customer@1x.jpg"
                alt="customer photo"
              />
            </div>
            <div class="customer__opinion-box">
              <p class="customer__opinion-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="ellipsis ellipsis--reversed"></div>
            <p class="customer__name">Annie, Chicago</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
