.about {
  padding-top: 125px;
  background-color: $fadedBgColor;

  &__container {
    background-image: url('/src/images/aboutbg320.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom 60px right 0;
  }

  &__title {
    width: 200px;
  }

  &__label {
    color: $secondaryBrandColor;
    font-family: $accentFont;
    font-weight: $thick;
    font-size: 1.125rem;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__heading {
    color: $brandColor;
    font-family: $accentFont;
    font-weight: $thick;
    font-size: 2.125rem;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
}

.about-box {
  &__image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  &__wrapper {
    margin-top: 46px;
    padding: 0 52px;
  }

  &__description {
    margin-bottom: 42px;
    font-weight: $regular;
    font-size: 0.75rem;
    line-height: 1.58;

    &--grey {
      margin-bottom: 10px;
      color: $fillerColor;
    }
  }

  &__button {
    margin-top: 7px;
    padding-inline: 35px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__container {
    background-image: url('/src/images/aboutbg320@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__container {
      padding-bottom: 30px;
      background-image: none;
    }
    
    &__label {
      font-size: 1.625rem;
    }
    
    &__heading {
      font-size: 3rem;
    }
  }

  .about-box {
    display: flex;

    &__wrapper {
      padding: 0 20px;
    }

    &__description {
      font-size: 0.875rem;
    }

    &__button {
      margin-top: 52px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .about {
    background-image: url('/src/images/aboutbg1282.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom -20px right 0;

    &__label {
      font-size: 1.875rem;
    }
    
    &__heading {
      font-size: 3.625rem;
    }
  }

  .about-box {
    &__wrapper {
      padding-left: 74px;
      padding-right: 100px;
    }

    &__description {
      font-size: 1rem;
      &--grey {
        margin-bottom: 20px;
      }
    }

    &__button {
      margin-top: 20px;
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .about {
      background-image: url('/src/images/aboutbg1282@2x.png');
    }
  }
}
