.advantages {
  background-color: $fadedBgColor;
  padding: 39px 20px 97px;
  &__list {
    list-style: none;
  }
  &__item {
    padding-top: 66px;
    position: relative;
    max-width: 280px;

    &:not(:last-child) {
      margin-bottom: 38px;
    }
   }
  &__heading {
    display: none;
  }
  &__second-heading {
    color: $brandColor;
    font-weight: $thick;
    font-family: $accentFont;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 0.04em;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 50px;
      background-size: contain;
    }
    
    &--image-first::before {
      width: 33px;
      background-image: url('../images/icon1.png');
    }
      &--image-second::before {
      width: 50px;
      background-image: url('../images/icon2.png');
    }
        &--image-third::before {
      width: 44px;
      background-image: url('../images/icon3.png');
    }
  }
  
   &__paragraph {
    font-weight: $bold;
    font-size: 12px;
    line-height: 1.7;
  }
}

@media (min-width: 768px) {
  .advantages {
    &__list {
      display: flex;
      gap: 64px;
      flex-wrap: nowrap;
    }
     &__second-heading {
      margin-top: 15px;
      font-size: 48px;
    }
    &__paragraph {
      font-size: 14px;
      line-height: 1.74;
    }
  }
}

@media (min-width: 1280px) {
  .advantages {
    padding-left: 115px;
    &__list {
      gap: 30px;
    }
    &__second-heading {
      font-size: 58px;
    }
    &__paragraph {
      font-size: 16px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__second-heading {
    &--image-first::before {
      background-image: url('../images/icon1@x2.png');
    }
    &--image-second::before {
      background-image: url('../images/icon2@x2.png');
    }
      &--image-third::before {
      background-image: url('../images/icon3@x2.png');
    }
  }
}
