// OKRĄGŁE BUTTONY

// by wstawić przycisk ze strzałką, wpisać w HTML:
// <button class="circle-btn"><svg width="5" height="18" class="circle-btn__arrow"><use href="images/icons.svg#icon-arrow-right"></use></svg></button>

.circle-btn {
    height: 18px;
    width: 18px;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
  
    &__arrow {
      stroke: $brandColor;
      stroke-width: 4px;
    }
  
    &:hover {
      background-color: $hoverColor;
    }
  }
  
  // DŁUGIE BUTTONY
  
  .button {
    padding: 0.9em 1.7em;
    font-family: $mainFont;
    border: none;
    border-radius: 2em;
    background-color: $brandColor;
    color: $alpha;
    transition: background-color 0.3s;
    cursor: pointer;
  
    &:hover {
      background-color: $brandColorDarker;
    }
  
    &--reversed {
      background-color: $alpha;
      color: $brandColor;
  
      &:hover {
        background-color: $hoverColor;
      }
    }
  
    &--small {
      font-size: 8px;
    }
  
    &--mid {
      font-size: 14px;
      font-weight: $bold;
    }
  
    &--big {
      font-size: 16px;
      font-weight: $bold;
    }
  
    // tworzenie strzałki w buttonie
    // <svg width="6" height="10" class="button__chevron"><use href="images/icons.svg#icon-Vector-1"></use></svg>
    &__chevron {
      $iconColor: currentColor;
      stroke: $iconColor;
      margin-left: 13px;
      vertical-align: middle;
    }
  }
  
  @media screen and (min-width: 768px) {
    .button--mid {
      padding: 0.85em 2.3em;
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .button--small {
      padding: 0.85em 1.6em;
      font-size: 14px;
    }
  }