// CIRCLE BUTTONS

// to insert an arrow button, type in HTML:
// <button class="circle-btn"><svg width="5" height="18" class="circle-btn__arrow"><use href="images/icons.svg#icon-arrow-right"></use></svg></button>

.circle-btn {
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;

  &--products {
    height: 40px;
    width: 40px;
    background-color: $alpha;
  }

  &__arrow {
    stroke: $brandColor;
    stroke-width: 4px;

    &--products {
      display: block;
      margin: 0 auto;
    }
  }

  &:hover {
    background-color: $hoverColor;
  }
}

// LONG BUTTONS

.button {
  padding: 0.9em 1.7em;
  font-family: $mainFont;
  border: none;
  border-radius: 2em;
  background-color: $brandColor;
  color: $alpha;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $brandColorDarker;
    transform: translateY(-3px);
    box-shadow: 1px 1px 7px 1px rgba(212, 20, 67, 0.6);
  }
  
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &--reversed {
    background-color: $alpha;
    color: $brandColor;

    &:hover,
    &:focus {
      background-color: $hoverColor;
      box-shadow: 1px 1px 7px 1px rgba(22, 21, 21, 0.6);
    }
    
    &:active {
      box-shadow: 0 5px 10px rgba(196, 55, 55, 0.2);
    }
  }

  &--small {
    font-size: 0.5rem;
  }

  &--mid {
    font-size: 0.875rem;
    font-weight: $bold;
  }

  &--big {
    font-size: 1rem;
    font-weight: $bold;
  }

  &--menu {
    width: 100%;
    max-width: 210px;
    margin-bottom: 19px;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }

  // creating an arrow in a button
  // <svg width="6" height="10" class="button__chevron"><use href="images/icons.svg#icon-Vector-1"></use></svg>
  &__chevron {
    $iconColor: currentColor;
    stroke: $iconColor;
    margin-left: 13px;
    vertical-align: middle;
  }
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    &--mid {
      padding: 0.85em 2.3em;
      font-size: 1rem;
    }

    &--menu {
      max-width: 186px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .button--small {
    padding: 0.85em 1.6em;
    font-size: 0.875rem;
  }
}
