.contacts {
  background: linear-gradient(to bottom, $alpha 84px, $fadedBgColor 84px);
  position: relative;
  margin-top: 86px;

  &__caption {
    display: none;
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 0 35px 54px 35px;
  }

  &__item {
    position: relative;
    background-color: $alpha;
    padding: 43px 20px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    &:hover {
      box-shadow: 5px 5px 30px -12px rgba(212, 20, 67, 0.6);
    }
  }

  &__label {
    color: $alpha;
    font-size: 12px;
    font-weight: $regular;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: $accentColor;
    padding: 1px 24px;
    max-width: 80px;
    margin-bottom: 25px;
  }

  &__label--secondary {
    background-color: $secondaryAccentColor;
    max-width: 130px;
  }

  &__header {
    color: $beta;
    font-size: 12px;
    font-weight: $regular;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    line-height: 1.8;
  }

  &__text {
    color: $fillerColor;
    font-size: 12px;
    font-weight: $regular;
    letter-spacing: 0.03em;
    line-height: 1.5;
    white-space: wrap;
    margin-bottom: 25px;
  }

  &__schedule {
    margin: 25px 0;
  }

  &__title {
    color: $beta;
    font-size: 12px;
    font-weight: $regular;
    letter-spacing: 0.04em;
    line-height: 1.8;
  }

  &__time {
    color: $secondaryBrandColor;
    font-size: 12px;
    font-weight: $regular;
    letter-spacing: 0.04em;
    line-height: 1.9;
    text-transform: uppercase;

    &:not(last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 25px;
  }

  &__link {
    color: $fillerColor;
    font-size: 12px;
    font-weight: $regular;
    letter-spacing: 0.04em;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
  }

  &__button-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__button {
    color: $alpha;
    font-weight: 700;
    font-size: 16px;
    background-color: $brandColor;
    border: none;
    border-radius: 22px;
    padding: 13px 17px;
    line-height: 1.3;
    box-shadow: inset 0 0 0 0 $secondaryBrandColor;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 100px 0 0 0 $secondaryBrandColor;
    }
  }

  &__button--secondary {
    color: $brandColor;
    background-color: $alpha;
    padding: 12px 33px;
    box-shadow: inset 0 0 0 0 $hoverColor;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 100px 0 0 0 $hoverColor;
    }
  }

  &__line {
    height: 1px;
    background-color: $lineColor;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    background: linear-gradient(to bottom, $alpha 78px, $fadedBgColor 78px);
    margin-top: 119px;

    &__list {
      gap: 20px;
      flex-direction: row;
      margin: 0 21px 81px 21px;
    }

    &__item {
      padding: 50px 31px;
    }

    &__label {
      font-size: 16px;
      border-radius: 6px;
      padding: 5px 16px;
      max-width: 73px;
      margin-bottom: 30px;
    }

    &__label--secondary {
      background-color: $secondaryAccentColor;
      max-width: 138px;
    }

    &__header {
      font-size: 14px;
      margin-bottom: 14px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 30px;
    }

    &__schedule {
      margin: 30px 0;
    }

    &__title {
      font-size: 14px;
    }

    &__time {
      font-size: 14px;

      &:not(last-of-type) {
        margin-bottom: 16px;
      }
    }

    &__address {
      gap: 10px;
      margin-top: 30px;
    }

    &__link {
      font-size: 14px;
    }

    &__button-group {
      flex-direction: row;
      justify-content: center;
      gap: 14px;
    }

    &__button {
      padding: 12px 32px;
    }

    &__button--secondary {
      padding: 12px 40px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url('../images/sectionbg2.png'),
      linear-gradient(to bottom, $alpha 102px, $fadedBgColor 102px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 132px;

    &__list {
      gap: 30px;
      margin: 0 100px 86px 100px;
    }

    &__item {
      padding: 51px 42px;
    }

    &__label {
      margin-bottom: 32px;
    }

    &__header {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 32px;
    }

    &__schedule {
      margin: 32px 0;
    }

    &__title {
      font-size: 16px;
    }

    &__time {
      font-size: 16px;

      &:not(last-of-type) {
        margin-bottom: 15px;
      }
    }

    &__address {
      gap: 10px;
      margin-top: 32px;
    }

    &__link {
      font-size: 16px;
    }

    &__button-group {
      gap: 15px;
    }

    &__button {
      padding: 12px 35px;
    }

    &__button--secondary {
      padding: 12px 43px;
    }
  }
}
