.footer {
  background-color: $fadedBgColor;
  padding-top: 113px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 232px;
    font-family: $accentFont;
    text-transform: uppercase;
    color: $secondaryBrandColor;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: 0.04em;

    &--bold {
      color: $brandColor;
      font-size: 2.125rem;
      margin-bottom: 43px;
    }
  }

  &__contact-box {
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-self: flex-end;
    margin-bottom: 65px;
  }

  &__contact {
    display: flex;
    gap: 4px;
    font-size: 0.75rem;
  }

  &__contact-title {
    color: $beta;
  }

  &__line {
    position: absolute;
    left: 0px;
    bottom: 89px;
    width: 100%;
    color: $lineColor;
  }

  &__copy-rights {
    padding: 22px 70px 25px;
    font-size: 0.875rem;
    line-height: 152%;
    font-weight: $bold;
    color: $fillerColor;
    text-align: center;
  }

  &__madewith {
    display: none;
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 28px;
  align-self: flex-end;
  list-style: none;
  margin-right: 0;

  &__icon {
    fill: $alpha;
    width: 32px;
    height: 32px;
    background-color: #fea5bb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    &:focus,
    &:hover {
      background-color: $brandColor;
    }
  }
}
.contacts__link--brand-color {
  color: $brandColor;
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      padding-left: 36px;
      padding-right: 36px;
    }

    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__title {
      font-size: 1.625rem;
      width: 340px;

      &--bold {
        font-size: 3rem;
      }
    }

    &__contact-box {
      padding-bottom: 91px;
    }

    &__line {
      bottom: 73px;
    }

    &__copy-rights {
      padding-bottom: 18px;
    }
  }

  .socials {
    &__icon {
      width: 34px;
      height: 34px;
    }
  }
}

@media (min-width: 1280px) {
  .footer {
    &__container {
      padding-left: 114px;
      padding-right: 114px;
    }

    &__title {
      font-size: 1.875rem;
      width: unset;

      &--bold {
        font-size: 3.625rem;
      }
    }

    &__contact {
      font-size: 0.875rem;
    }

    &__line {
      bottom: 60px;
    }

    &__copy-rights {
      padding-bottom: 10px;
    }

    &__madewith {
      display: block;
      text-align: center;

      &--heart {
        cursor: pointer;
        color: $brandColorDarker;
      }
    }
  }
}
