.footer {
  background-color: $fadedBgColor;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    width: 232px;
    font-family: $accentFont;
    text-transform: uppercase;
    margin-bottom: 43px;
    color: $secondaryBrandColor;
    font-size: 18px;
    line-height: 100%;

    &--bold {
      color: $brandColor;
      font-size: 34px;
      letter-spacing: 0.04em;
      margin-top: 17px;
    }
  }
  &__contact {
    display: inline-flex;
    margin-bottom: 43px;
    align-self: flex-end;
    font-size: 12px;
  }
  &__contact-title {
    color: $beta;
  }
  &__contact-phone {
    text-decoration: none;
    color: $brandColor;
  }
  &__line {
    position: absolute;
    left: 0px;
    bottom: 89px;
    width: 100%;
    color: $lineColor;
  }
  &__copy-rights {
    width: 160px;
    font-weight: $bold;
    color: $fillerColor;
    align-self: center;
    padding-bottom: 25px;
  }
}
.socials {
  display: inline-flex;
  gap: 28px;
  align-self: flex-end;
  margin-bottom: 46px;
}
