.header {
  background-color: $complementaryColor;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;

    &-btn {
      display: none;
    }
  }

  .menu-toggler {
    border: none;

    &__icon {
      display: block;
      stroke: $brandColor;
      background-color: $complementaryColor;
    }
  }

  .nav {
    display: none;
  }
}

.menu-toggle {
  border: none;
}
.nav {
  display: none;
}

.hero {
  position: relative;
  height: 450px;
  background-color: $complementaryColor;
  overflow: hidden;
  z-index: -2;

  &__container {
    position: relative;
    height: 100%;
  }

  &-bg {
    position: absolute;
    bottom: 75px;
    right: -62px;
    width: 346px;
    height: 344px;
    background-image: url('../images/circlebg.png');
    background-size: 100%;
    z-index: -1;

    &__image {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
    }
  }

  &__heading-box {
    position: absolute;
    left: 20px;
    bottom: 160px;
    z-index: 0;
  }

  &__title {
    font-family: $accentFont;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    color: $alpha;
    text-transform: uppercase;
    line-height: 1.86rem;
    background-color: transparent;
    margin-bottom: 20px;

    &--boldred {
      font-size: 48px;
      color: $brandColor;
      line-height: 2.87rem;
    }
  }

  &___circle,
  &__box,
  &__number,
  &__number-descripion {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__box-btn {
    display: flex;
  }

  .hero__box {
    display: flex;
    position: relative;

    &-picture {
      position: absolute;
      bottom: 28px;
      left: 34px;
    }

    &-person {
      position: absolute;
      bottom: 0;
      right: 34px;
    }

    &-bottom {
      max-width: 114px;
      position: absolute;
      bottom: 59px;
      left: 154px;
    }

    &-text {
      font-family: $mainFont;
      color: $alpha;
      font-size: 8px;
      line-height: 0.75rem;
    }
  }
}
@media screen and (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
  .nav {
    display: flex;
    gap: 35px;
    list-style-type: none;

    &__link {
      text-decoration: none;
      color: $alpha;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3rem;

      &:focus,
      &:hover {
        color: $brandColor;
      }
    }
  }
}
