.header {
  background-color: $complementaryColor;
  z-index: 3;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
  }

  &-buttons {
    &__cta {
      display: none;
    }

    .menu-toggle {
      &__icon {
        display: block;
        stroke: $brandColor;
        background-color: transparent;
      }
    }
  }
}

.nav {
  display: none;
}

.hero {
  position: relative;
  height: 450px;
  background-color: $complementaryColor;
  overflow: hidden;
  z-index: 0;

  &__container {
    position: relative;
    height: 100%;
  }

  &-bg {
    position: absolute;
    bottom: 75px;
    right: -62px;
    width: 346px;
    height: 344px;
    background-image: url('../images/circlebg.png');
    background-size: 100%;
    z-index: 1;

    &__image {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
    }
  }

  &__heading-box {
    position: absolute;
    left: 20px;
    bottom: 160px;
    z-index: 2;

    & .button--reversed {
      margin-left: 8px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: $accentFont;
    font-weight: $thick;
    font-size: 26px;
    letter-spacing: 0.04em;
    color: $alpha;
    text-transform: uppercase;
    background-color: transparent;

    &--boldred {
      font-size: 48px;
      color: $brandColor;
      line-height: 0.955;
    }
  }

  &-numbers,
  &-milk,
  &-person {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;

    &__container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 37px 34px;
    }

    &-buttons {
      display: flex;
      align-items: center;

      &__cta {
        display: block;
      }

      .menu-toggle {
        margin-right: 30px;
      }
    }
  }

  .hero {
    height: 400px;

    &-bg {
      bottom: 46px;
      right: 137px;
      width: 324px;
      height: 322px;
      z-index: -1;

      &__image {
        left: 44%;
        top: 32px;
        width: 143px;
        height: 336px;
      }
    }

    &__heading-box {
      left: 34px;
      bottom: 173px;
    }

    &__title {
      font-size: 22px;

      &--boldred {
        font-size: 34px;
        line-height: 0.905;
      }
    }
  }

  .hero-numbers {
    display: block;
    position: absolute;
    right: 44px;
    top: 96px;
  }

  .hero-number {
    position: relative;
    margin-bottom: 15px;
    text-align: right;

    &__circle {
      position: absolute;
      right: -8px;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: $alpha;
      z-index: -1;
    }

    &__number {
      font-size: 28px;
      font-family: $accentFont;
      letter-spacing: 0.04em;
      color: $brandColor;
    }

    &__text {
      font-size: 8px;
      color: $alpha;
    }
  }

  .hero-milk {
    position: absolute;
    left: 34px;
    bottom: 28px;
    display: flex;
    align-items: flex-end;

    &__wrapper {
      padding-bottom: 5px;
    }

    &__text {
      width: 114px;
      margin-bottom: 7px;
      font-size: 8px;
      line-height: 1.5;
      color: $alpha;
    }

    &__btn {
      display: block;
    }
  }

  .hero-person {
    display: block;
    position: absolute;
    width: 168px;
    height: 133px;
    bottom: 0;
    right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__container {
      padding-left: 46px;
      padding-right: 115px;
    }

    .menu-toggle {
      display: none;
    }
  }

  .nav {
    display: flex;
    gap: 35px;
    list-style: none;

    &__link {
      text-decoration: none;
      color: $alpha;
      font-weight: $bold;
      transition: color 0.3s;

      &:focus,
      &:hover {
        color: $brandColor;
      }
    }
  }

  .hero {
    height: 665px;

    &-bg {
      bottom: 75px;
      right: 267px;
      width: 538px;
      height: 538px;

      &__image {
        top: 56px;
        width: 236px;
        height: 557px;
      }
    }

    &__heading-box {
      left: 115px;
      bottom: 292px;

      & .button--reversed {
        margin-left: 15px;
      }
    }

    &__title {
      font-size: 38px;

      &--boldred {
        font-size: 58px;
      }
    }
  }

  .hero-person {
    width: 293px;
    height: 232px;
    right: 109px;
  }

  .hero-milk {
    left: 77px;
    bottom: 45px;
    gap: 30px;

    &__img {
      width: 188px;
      height: 191px;
    }

    &__text {
      width: 200px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.4;
    }

    &__btn {
      width: 26px;
      height: 26px;
    }

    &__btn-icon {
      width: 7px;
      height: 26px;
    }
  }

  .hero-numbers {
    right: 115px;
    top: 160px;
  }

  .hero-number {
    &__circle {
      height: 30px;
      width: 30px;
      right: -16px;
    }

    &__number {
      font-size: 46px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
