.menu-container {
  background-color: $menuBgColor;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  padding: 23px 20px;
  opacity: 0;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    width: 250px;
    opacity: 1;
  }
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  color: $alpha;

  &:hover,
  &:focus {
    color: $brandColor;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    display: none;
  }
}
