.menu-container {
  background-color: $menuBgColor;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 23px 20px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brandColor;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  color: $alpha;
}

@media screen and (min-width: 1280px) {
  nav {
    display: none;
  }
}
