.backdrop-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 200ms linear, opacity 200ms linear;
  z-index: 4;
}

.modal {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 450px;
  max-width: 500px;
  background-color: $alpha;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 108px;
  left: 50%;
  margin: 0 auto;
  border-radius: 24px;
  transform: translate(-50%) scale(1);
  transition: transform 500ms ease;
  
  &--products-first {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: calc(100vw - 40px);
    max-width: 280px;
    min-width: auto;
    top: 50%;
    padding: 60px 20px;
    background-color: $complementaryColor;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: 1;
    pointer-events: initial;
  }
  
  &--products-second {
    @extend .modal--products-first;
    background-color: $accentColor;
  }
  
  &--products-third {
    @extend .modal--products-first;
    background-color: $secondaryAccentColor;
  }
  
  &--about {
    @extend .modal--products-first;
    background-color: $fadedBgColor;
  }

  &__button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $alpha;
    margin: 8px;
    border: 1px solid $brandColor;
    color: $brandColor;
    
    &--products {
      border: 1px solid $alpha;
      color: $brandColor;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
  }
  
  &__title {
    font-family: $accentFont, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $alpha;
    text-align: center;
  }
  
  &__title--about {
    @extend .modal__title;
    color: $brandColor;
  }

  &__subtext {
    font-family: $mainFont, sans-serif;
    font-weight: 400;
    font-size: 0.625rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $alpha;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.2em;
  }
  
  &__description {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 152%;
    letter-spacing: 0.04em;
    color: $alpha;
    text-align: center;

    &--about {
      color: $fillerColor;
    }
  }
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  & .modal {
    transform: scale(0);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;

  &__header {
    font-family: $accentFont;
    color: $brandColor;
    font-size: 1.25rem;
    margin-bottom: 20px;
    letter-spacing: 0.04em;
    text-align: center;
  }

  &__label {
    font-family: $mainFont;
    font-weight: $bold;
    font-size: 0.938rem;
    color: $brandColor;
    margin-bottom: 5px;
  }

  &__box {
    position: relative;
  }

  &__input {
    color: $brandColor;
    width: 100%;
    height: 30px;
    border: 1px solid $secondaryBrandColor;
    font-size: 0.75rem;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 30px;

    &:focus + .modal-form__svg {
      fill: $brandColor;
    }

    &:focus {
      outline: 0;
      border: 1px solid $brandColor;
    }
  }

  &__svg {
    position: absolute;
    top: 7px;
    left: 7px;
    fill: $secondaryBrandColor;
  }

  &__button {
    @extend .button;
    @extend .button--mid;
    margin: 0 auto;
  }

  &__select {
    @extend .modal-form__input;
    padding: 0 5px;
    color: $secondaryBrandColor;
    margin-top: 5px;

    &:focus {
      color: $brandColor;
    }
  }
}

@media screen and (min-width: 768px) {
  .modal-form__products {
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-form__header {
    font-size: 1.563rem;
  }
}
