.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition-property: visibility, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 4;
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal-contact {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 600px;
  background: $alpha;
  box-shadow: 8px 8px 9px -12px rgba(66, 68, 90, 1);
  border-radius: 22px;
  position: fixed;
  left: 50%;
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%);
  padding: 40px;

  &__close {
    color: $beta;
    background-color: $alpha;
    border: 1px solid $lineColor;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 10px;
    width: 30px;
    height: 30px;

    &:hover,
    &:focus {
      color: $brandColor;
      border: 1px solid $fillerColor;
    }
  }

  &__header {
    color: $brandColor;
    font-size: 32px;
    line-height: 1.8;
    font-weight: $bold;
    text-align: center;
    margin-bottom: 12px;
    text-align: center;
  }

  &__map {
    max-width: 250px;
    max-height: 400px;
    width: 100%;
    height: 100%;
  }

  &__label {
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &__icon {
    position: absolute;
    top: 28px;
    left: 7px;
  }

  &__input {
    border: 1px solid $beta;
    border-radius: 6px;
    width: 100%;
    height: 30px;
    display: block;
    margin-top: 5px;
    padding-left: 33px;

    &:hover {
      border: 1px dashed $secondaryBrandColor;
      outline: none;
    }

    &:active,
    &:focus {
      border: 1px solid $secondaryBrandColor;
      outline: none;
    }
  }

  &__comment-box {
    display: block;
    width: 100%;
    height: 70px;
    resize: none;
    padding: 7px 7px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid $beta;
    border-radius: 6px;

    &:hover {
      border: 1px dashed $secondaryBrandColor;
      outline: none;
    }

    &:active,
    &:focus {
      border: 1px solid $secondaryBrandColor;
      outline: none;
    }
  }

  &__button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__submit-button {
    color: $alpha;
    font-weight: 700;
    font-size: 16px;
    background-color: $brandColor;
    border: none;
    border-radius: 22px;
    padding: 7px 17px;
    line-height: 1.3;
    transition: all 0.1s linear;
    cursor: pointer;

    &:hover,
    &:focus {
      transform: translateY(-3px);
      box-shadow: 1px 1px 7px 1px rgba(212, 20, 67, 0.6);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.modal-contact__label:hover > .modal-contact__icon,
.modal-contact__label:focus > .modal-contact__icon,
.modal-contact__label:active > .modal-contact__icon {
  fill: $secondaryBrandColor;
}

@media screen and (min-width: 450px) {
  .modal-contact {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 600px;

    &__map {
      max-width: 400px;
      max-height: 450px;
      width: 100%;
      height: 100%;
    }

    &__comment-box {
      height: 120px;
    }
  }
}

@media screen and (min-width: 768px) {
  .modal-contact {
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 600px;

    &--form {
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 600px;
    }

    &__map {
      max-width: 570px;
      max-height: 450px;
      width: 100%;
      height: 100%;
    }
  }
}
