//Colors
$alpha: #fff;
$beta: #000;
$brandColor: #d41443;
$brandColorDarker: #c7133e;
$secondaryBrandColor: #ffa5ba;
$complementaryColor: #ffb8ca;
$fadedBgColor: #fff5f6;
$accentColor: #f0d1a5;
$secondaryAccentColor: #c2e297;
$fillerColor: #907e82;
$menuBgColor: #e17992;
$menuBroderColor: #e18298;
$lineColor: #e1e1e1;
$hoverColor: #ecebeb;

//Fonts
$mainFont: DM Sans;
$accentFont: Titan One;

//Font Weights
$thick: 400;
$bold: 700;
$regular: 500;
